/* Dark glass background */
.transaction-container {
  width: 90%;
  margin: 10px auto;
  padding: 0px;
  background-color: #1d2b3a;
  border-radius: 25px; /* Adjusted border-radius */
  padding: 1px 1px;
  cursor: pointer;
  font-size: 16px;
  line-height: 14px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: border-color 0.3s ease, border-radius 0.3s ease;
  position: relative; /* Add a position */
  z-index: 1; /* Ensure it's behind other elements */
  backdrop-filter: blur(10px); /* Blur effect for glassy look */
  box-shadow: 0px 0px 8px 6px rgba(255, 215, 0, 0.8); /* Golden fire-like color */
  transition: box-shadow 0.3s ease, border-radius 0.3s ease;
}

.transaction-container:hover {
  border-radius: 20px;
  box-shadow: 0px 0px 3px 8px rgba(255, 215, 0, 0.8); /* Golden fire-like color */
}

.input-row {
  margin-bottom: 20px;
}

input {
  width: 50%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 30px;
  font-size: 14px;
  background-color: transparent;
  border-color: #ffeb3b; /* Yellow border color on focus */
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8); /* Intensify the glow on focus */

}

input:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:hover {
  border-color: rgba(255, 215, 0, 0.8); /* Golden fire-like color */
}

/* Initially invisible */
.input-row:last-child input[type='text'] {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

/* Visible on copy button click */
.input-row:last-child input[type='text'].visible {
  opacity: 1;
  height: auto;
  margin-top: 10px;
}

.copy-button,
.reset-button {
  background: transparent;
  padding: 12px 18px;
  margin-right: 10px; 
  background-color: #1d2b3a;
  border: 2px solid #007bff;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.copy-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.reset-button {
  background-color: #dc3545;
  border: 2px solid #dc3545;
}

.reset-button:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.input-row input {
  width: 100%;
  padding: 10px;
  border: 2px solid transparent; /* Set initial border as transparent */
  border-radius: 20px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  transition: border-color 0.3s ease, border-width 0.3s ease; /* Add transition for border color and width */
}

.input-row input:focus {
  border-color: rgba(255, 215, 0, 0.8); /* Golden fire-like color */
  border-width: 3px; /* Adjust border width */
}

/* For the final result input */
.input-row:last-child input[type='text'] {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
  background-color: transparent;
  border: none;
  color: antiquewhite;
  font-weight: bold;
  font-size: x-large; /* Adjusted font size */
  font-family: 'Roboto', sans-serif; /* Different font family */
}

.input-row:last-child input[type='text'].visible {
  opacity: 1;
  height: auto;
}
